.introduction-container {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .video-container{
    height: 600px;
    width: 1200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center
  }
  .tagline-text {
    text-align: center;
    margin-top: 50px;
    .title {
      font-weight: 900;
      font-size: 35px;
    }
    .sub-title {
      font-size: 20px;
    }
  }
}
