@import "../../shared/variables";

.footer-container {
  background-color: $black;
  padding: 20px;
  color: $white;
  font-size: 12px;
  .footer-content {
    display: flex;
    justify-content: space-between;
    .info-container {
      .info-links {
        display: flex;
        flex-direction: column;
        margin-right: 40px;
      }
    }
    .handle-container {
      display: flex;
      .handle-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        background-color: $gray;
        border-radius: 20px;
        margin-right: 10px;
        .icon {
          height: 20px;
          width: 20px;
          cursor: pointer;
        }
      }
    }
  }
  .copyright-container {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    .margin {
      margin: 0 20px;
    }
    .copyright-content {
      font-size: 12px;
      color: $gray;
    }
  }
}
